<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EV Station Data Collection</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
</head>
<h1>EV Station Data Collection</h1>
<form method ="post" id= "station">
    <label for "ownerName" > Name </label>
    <input type="text" name="ownerName" required>
    <label for "contact" > Contact </label>
    <input type="tel" name="contact" pattern= "[0-9]{10}" required>
</form>
    
